.carousel-control-next-icon {
    background-image: url(./img/carrightarrow.png);
}


.carousel-control-prev-icon {
    background-image: url(./img/careftarrow-50.png);
}

.error-message {
    color: red;
}

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.chivo{
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.space-grotesk{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }